html
  head
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/picnicss/6.2.5/picnic.min.css')
  body
    h1 Teste de pagamento
    form#quota(action='')
      input(type='radio' name='giftPrice' value='120')
      label Bronze (R$ 120)
      br

      input(type='radio' name='giftPrice' value='240')
      label Prata (R$ 240)
      br

      input(type='radio' name='giftPrice' value='360')
      label Ouro (R$ 360)
      br

      input(type='radio' name='giftPrice' value='480')
      label Diamante (R$ 450)
      br

    button(onclick='startPaymentFlow()')
      | Iniciar o fluxo

    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(type='text/javascript' src='https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js')
    script(type='text/javascript' src='js/app.js')
