html
  head
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/picnicss/6.2.5/picnic.min.css')
  body
    .flex
      .pure-u-1-6
      .pure-u-2-3
        h1 Em breve
        p
          | Inauguração do site prevista para 17 de novembro às 23:30.
          | Os seguintes elementos estarão presentes:
        ul
          li Informações gerais sobre o evento
          li Fotos do ensaio dos noivos
          li Confirmação de convidados
          li Lista de presentes e cotas pra lua de mel
    .pure-u-1-6
